@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/Abstract\ Design-back.svg) -25px -20px no-repeat;
  background-color: rgb(27, 25, 25);
  padding: 1rem 2rem;
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 15px;
}

header .nav__btns, header nav ul, header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #242424;
  padding: 0.8rem 1rem;
  margin: 1.5rem 0;
  border: 1px solid #4C4C4D;
  border-radius: 40px;
}
header a {
  color: #E4E4E7;
}
header li + li {
  margin-left: 1rem;
}
header .nav__btns .button {
  background-color: #CAFF33;
  color: #1A1A1A;
}
header .burger {
  background-color: #CAFF33;
  padding: 0.5rem 0.3rem;
  border-radius: 10px;
  display: none;
}
header .burger span {
  background-color: #1A1A1A;
  display: block;
  padding: 0.1rem 1rem;
  width: 2px;
  margin: 0.1rem;
}