@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#hero__section .hero__transaction__container .transactions .transaction__detail > div, #hero__section .hero__transaction__container .transactions .transaction__detail, header .nav__btns, header nav ul, header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background: url(../images/Abstract\ Design-back.svg) -25px -20px no-repeat;
  background-color: rgb(27, 25, 25);
  padding: 1rem 2rem;
  font-family: "Lexend", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  line-height: 1.4;
}
.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  color: #E4E4E7;
}
.container p {
  color: #E4E4E7;
}
.container li {
  list-style-type: none;
}
.container a {
  text-decoration: none;
}
.container img {
  max-width: 100%;
}
.container span {
  color: #CAFF33;
}
.container .button {
  display: inline-block;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 15px;
}

header {
  background-color: #242424;
  padding: 0.8rem 1rem;
  margin: 1.5rem 0;
  border: 1px solid #4C4C4D;
  border-radius: 40px;
}
header .container .navigation, header .container .nav__btns {
  display: none;
}
@media (min-width: 820px) {
  header .container .navigation, header .container .nav__btns {
    display: flex;
  }
}
header a {
  color: #E4E4E7;
}
header li + li {
  margin-left: 1rem;
}
header .nav__btns .button {
  background-color: #CAFF33;
  color: #1A1A1A;
}
header .burger {
  background-color: #CAFF33;
  padding: 0.5rem 0.3rem;
  border-radius: 12px;
}
@media (min-width: 820px) {
  header .burger {
    display: none;
  }
}
header .burger span {
  background-color: #1A1A1A;
  display: block;
  padding: 0.1rem 0.7rem;
  margin: 0.1rem;
  border-radius: 3px;
}

#hero__section h1 {
  font-size: 1.7em;
  margin: 1rem 0;
}
@media (min-width: 820px) {
  #hero__section h1 {
    font-size: 3rem;
  }
}
#hero__section ion-icon {
  background-color: #CAFF33;
  margin-right: 0.4rem;
  border-radius: 50px;
}
#hero__section .hero__description {
  text-align: center;
}
@media (min-width: 820px) {
  #hero__section .hero__description {
    text-align: left;
  }
}
#hero__section .hero__description a {
  background-color: #CAFF33;
  margin-top: 1rem;
}
#hero__section .hero__description div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #242424;
  padding: 0.4rem;
  border-radius: 20px;
}
@media (min-width: 820px) {
  #hero__section .hero__description div {
    justify-content: left;
    max-width: 60%;
  }
}
#hero__section .hero__description div ion-icon {
  padding: 0.2rem;
}
#hero__section .hero__transaction__container {
  background: url(../images/Abstract\ Design.svg) no-repeat 100% 15%;
}
@media (min-width: 820px) {
  #hero__section .hero__transaction__container {
    padding: 4.5rem;
  }
}
#hero__section .hero__transaction__container .transaction__box {
  border: 1px solid #CAFF33;
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 6px;
}
#hero__section .hero__transaction__container ion-icon {
  padding: 0.4rem;
}
#hero__section .hero__transaction__container .monthly__income__box {
  background-color: #262626;
  padding: 0.5rem;
  max-width: 60%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transform: translate(-25px, 30px);
}
#hero__section .hero__transaction__container .transactions {
  margin: 1rem 0;
}
#hero__section .hero__transaction__container .transactions .transaction__detail {
  border: 1px solid #E4E4E7;
  border-radius: 15px;
  padding: 1rem;
  justify-content: space-between;
}
#hero__section .hero__transaction__container .exchange__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}
#hero__section .hero__transaction__container .exchange__table > div {
  border: 1px solid #E4E4E7;
  padding: 1rem;
}
#hero__section .hero__transaction__container .exchange__btn {
  background-color: #CAFF33;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  padding: 0.4rem;
  margin-top: 1rem;
}

#products__section {
  text-align: center;
  margin-top: 2rem;
}
#products__section .products__description {
  margin-bottom: 1rem;
}
#products__section .products__description p {
  margin: 1rem 0;
}
#products__section .products__description .product__tab {
  background-color: rgb(59, 58, 58);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 50px;
}
#products__section .products__description .product__tab a:first-child {
  background-color: #CAFF33;
  border-radius: 50px;
}
#products__section ion-icon {
  padding: 0.3rem;
  font-size: 1.5rem;
  border-radius: 50px;
}
#products__section .product {
  padding: 1rem;
}
#products__section .product .icon__container {
  background-color: #CAFF33;
  display: inline-block;
  padding: 0.6rem;
  border-radius: 50px;
}
#products__section .product .icon__background {
  background-color: rgb(57, 56, 56);
  display: inline-block;
  padding: 0.6rem;
  border-radius: 50px;
}
#products__section .product:nth-of-type(even) {
  border-top: 2px solid rgb(62, 62, 20);
  border-bottom: 2px solid rgb(62, 62, 20);
}
@media (min-width: 820px) {
  #products__section .products__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  #products__section .products__description div:first-child {
    max-width: 70%;
  }
  #products__section .products__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #products__section .product:nth-of-type(even) {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid rgb(62, 62, 20);
    border-left: 1px solid rgb(62, 62, 20);
  }
}

#use__cases {
  border: 1px solid #CAFF33;
  padding: 0.8rem;
  margin-top: 1.5rem;
  text-align: center;
}
#use__cases .box__container {
  background: url(../images/Abstract\ Design-back2.svg) no-repeat;
  padding: 2rem;
  border: 1px solid red;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#use__cases .box {
  border: 1px solid green;
  padding: 3rem 0;
  border-radius: 5px;
}
#use__cases h1 {
  color: #CAFF33;
}
@media (min-width: 820px) {
  #use__cases .use__case_description {
    text-align: left;
  }
  #use__cases .cases__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  #use__cases .percentages {
    display: flex;
  }
}

#features__section ul {
  background-color: #262626;
  color: white;
  padding: 1.5rem;
  display: flex;
}
#features__section ul li {
  background-color: black;
  margin: 1rem;
  padding: 0.3rem;
}
#features__section .banking__feature {
  background-color: #262626;
  margin-top: 2rem;
  padding: 2rem;
  border: 2px solid #414040;
  border-radius: 10px;
}
#features__section .banking__feature div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#start__section {
  background: url(../images/Abstract\ Design-back2.svg) no-repeat;
  background-color: #262626;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 820px) {
  #start__section {
    text-align: left;
  }
}
@media (min-width: 820px) {
  #start__section .start__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #start__section .start__description div {
    max-width: 75%;
  }
}
#start__section .start__description p {
  margin: 1rem 0;
}
#start__section .start__description a {
  background-color: #CAFF33;
}

@media (min-width: 820px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}
@media (min-width: 820px) {
  .grid .grid__item {
    align-self: center;
  }
}