
%flex-loyout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: $neutral;
    padding: 0.8rem 1rem;
    margin: 1.5rem 0;
    border: 1px solid $dark-gray;
    border-radius: 40px;

    .container {
        @extend %flex-loyout;

       .navigation,  .nav__btns{
        display: none;

        @include mediun {
            display: flex;
        }

       }

    }

    nav ul {
        @extend %flex-loyout;
    }

    a {
        color: $gray;
    }

    li + li {
        margin-left: 1rem;
    }

    .nav__btns {
        @extend %flex-loyout;
        .button {
            background-color: $secondary;
            color: $primary;
        }
    }

    .burger {
        background-color: $secondary;
        padding: 0.5rem 0.3rem;
        border-radius: 12px;

        @include mediun {
            display: none;
        }

        & span {
            background-color: $primary;
            display: block;
            padding: 0.1rem 0.7rem;
            margin: 0.1rem;
            border-radius: 3px;
        }
    } 

}
