@use 'variables' as v ;
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header {
    background-color: v.$neutral;
    border: 1px solid v.$dark-gray;
    border-radius: 100px;

    .container {
        @extend %flex-loyout;
        padding: 0.875rem  1.5rem;

       .navigation,  .nav__btns{
        display: none;

        @include MX.mediun {
            display: flex;
        }

       }

    }

    nav ul {
        @extend %flex-loyout;
    }

    a {
        color: v.$gray;
    }

    li + li {
        margin-left: 1.62rem
    }

    .nav__btns {
        @extend %flex-loyout;
        .button {
            background-color: v.$secondary;
            color: v.$primary;
            padding: 0.75rem 1.56rem;
        }
    }

    .burger {
        background-color: v.$secondary;
        padding: 6px  14px;
        border-radius: 82px;
        @include MX.mediun {
            display: none;
        }

        div {
            padding: 7px 4px;
            margin: 10px;

            & span {
                background-color: v.$primary;
                padding: 7px 4px;
                display: block;
            }
        }

   
    } 

}
