
#hero__section {

    h1 {
        font-size: 1.7em;
        margin: 1rem 0;
        @include mediun {
            font-size: 3rem;
        }
    }

    ion-icon {
        background-color: $secondary;
        margin-right: 0.4rem;
        border-radius: 50px;
    }

    .hero__description {
        text-align: center;
        @include mediun {
            text-align: left;
        }

        a {
            background-color: $secondary;
            margin-top: 1rem;
        }

        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $neutral;
            padding: 0.4rem;
            border-radius: 20px;
            @include mediun {
                justify-content: left;
                max-width: 60%;
            }
    
            ion-icon {
                padding: 0.2rem;
            }

        }
    }

    .hero__transaction__container {
        background: url(../images/Abstract\ Design.svg) no-repeat 100% 15%;
       @include mediun {
        padding: 4.5rem;
       }
     
        .transaction__box {
            border: 1px solid $secondary;
            padding: 1.2rem;
            margin: 1rem 0;
            border-radius: 6px;
        }

        ion-icon {
            padding: 0.4rem;
        }

        .monthly__income__box{
            background-color: #262626;
            padding: 0.5rem;
            max-width: 60%;
            display: flex;
            align-items: center;
            border-radius: 5px;
            transform: translate(-25px, 30px);
           
        }

        .transactions  {
            margin: 1rem 0;

            .transaction__detail{
                border: 1px solid $gray;
                border-radius: 15px;
                padding: 1rem;
                @extend %flex-loyout;
                justify-content: space-between;

                & > div {
                    @extend %flex-loyout;
                }
            }

        }

        .exchange__table {
            display: grid;
            grid-template-columns: repeat($grid-columns_hero, 1fr);
            margin-top: 1rem;

            & > div {
                border: 1px solid $gray;
                padding: 1rem;
            }

            // & > div:nth-child(2){
                
            // }
        }

    .exchange__btn {
            background-color: $secondary;
            text-align: center;
            border-radius: 20px;
            width: 100%;
            padding: 0.4rem;
            margin-top: 1rem;
    }
    }

}

#products__section {
    text-align: center;
    margin-top: 2rem;

    .products__description {
        margin-bottom: 1rem;

        p {
            margin: 1rem 0;
        }

        .product__tab {
            background-color: rgb(59, 58, 58);
            display: inline-block;
            padding: 0.5rem;
            border-radius: 50px;


            a:first-child {
                background-color: $secondary;
                border-radius: 50px;
            }
           
        }
    }

    ion-icon {
        padding: 0.3rem;
        font-size: 1.5rem;
        border-radius: 50px;
    }

    .product {
        padding: 1rem;

        .icon__container {
            background-color: $secondary;
            display: inline-block;
            padding: 0.6rem;
            border-radius:50px;
        }

        .icon__background {
            background-color: rgb(57, 56, 56);
            display: inline-block;
            padding: 0.6rem;
            border-radius: 50px;
        }
    }

    .product:nth-of-type(even) {
        border-top: 2px solid rgb(62, 62, 20);
        border-bottom: 2px solid  rgb(62, 62, 20);
        
    }

    @include mediun {

        .products__description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;

            & div:first-child {
                max-width: 70%;
            }

        }

        .products__box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .product:nth-of-type(even) {
            border-top: none;
            border-bottom: none;
            border-right:  1px solid  rgb(62, 62, 20);
            border-left:  1px solid  rgb(62, 62, 20);
            
        }
    }
}

#use__cases {
    border: 1px solid $secondary;
    padding: 0.8rem;
    margin-top: 1.5rem;
    text-align: center;

    .box__container {
        background: url(../images/Abstract\ Design-back2.svg) no-repeat;
        padding: 2rem;
        border: 1px solid red;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    
    .box {
        border: 1px solid green;
        padding: 3rem 0;
        border-radius: 5px;
    }

    h1 {
        color: $secondary;
    }

    @include mediun {
        .use__case_description {
            text-align: left;
        }
    }

}


#start__section {
    background: url(../images/Abstract\ Design-back2.svg) no-repeat;
    background-color: #262626;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    @include mediun {
        text-align: left;
    }

    .start__description {
        @include mediun {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                max-width: 75%;
            }
        }

        p {
            margin: 1rem 0;
        }
    
        a {
            background-color: $secondary;
        }

    }
}
