
//colors
$primary: #1A1A1A;
$secondary: #CAFF33;
$neutral: #1C1C1C;



// #E5FF99
// #F2FFCC
// #F8FFE5
// #FBFFF0
// #FEFFFA
// #E4E4E7

// #1A1A1A

// #262626
// #333333
// #4C4C4D
// #59595A
// #98989A
// #4C4C4D