
//colors
$neutral: #242424;
$gray: #E4E4E7;
$dark-gray: #4C4C4D;


$primary-light :rgb(28, 28, 28);
$secondary :rgb(202, 255, 51);
$first :rgb(21, 21, 21);
$first :rgb(255, 255, 255);
$first :rgb(179, 179, 179);
$dark-seconday-light :rgb(39, 43, 26);
$dark-secondary :rgb(34, 37, 27);
$primary :rgb(25, 25, 25);



$grid-columns_hero: 2;
$grid-gap-mobile: 10px;

$grid-columns: 4;