
//colors
$primary: #1A1A1A;
$neutral: #242424;
$secondary: #CAFF33;
$gray: #E4E4E7;
$dark-gray: #4C4C4D;

// #E5FF99
// #F2FFCC
// #F8FFE5
// #FBFFF0
// #FEFFFA
// #E4E4E7
//
// #262626
// #333333
// 
// #59595A
// #98989A
// #4C4C4D