@use 'variables' as v;
@use 'mixins' as MX;

#hero__section {
    
    .career__hero {
        background-color: v.$primary-light;
        text-align: center;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem 0.4rem;

        h1 {
            margin-bottom: 0.8rem;
        }
    }

    .hero__career__description {
        background-color: v.$primary;
        padding: 1.5rem;
        border-radius: 20px;
        order: 2;
        transform: translateY(-30px);

    }

    @include MX.mediun {
        .career__hero {
            flex-direction: row-reverse;
            align-items: start;
            padding: 1rem 0;

            p {
                font-size: clamp(0.8rem, 0.5vw, 3rem);
            }
           
        }

        .hero__career__description, .picture  {
           flex: 1;
        }

        .hero__career__description  {
            text-align: left;
            border-radius: 0;
            border-bottom-right-radius: 50px;
            transform: translateX(10px);
            padding: 1.5rem;
        }

        .picture {
            transform: translateX(-10px);
        }
    }

    @include MX.large {
        .career__hero {
            padding: 3.12rem 0;
        }

        .hero__career__description  {
            text-align: left;
            border-radius: 0;
            border-bottom-right-radius: 50px;
            padding: 3.75rem;
            transform: translateX(50px);
        }

        .picture {
            transform: translateX(-50px);
        }
    }
}

#values__section {
    .value__description {
        text-align: center;
        margin-bottom: 3.12rem;
    }

    .values__container {
        gap: 60px;
    }

    .value {
        border-left: 1px solid v.$secondary;
        padding-left: 1.25rem;
        flex-grow: 1;

        h1 {
            margin-bottom: 0.87rem;
            color: v.$dark-gray;
        }
    }

    .value + .value {
        margin-top: 3.12rem;
    }

    @include MX.mediun {

        .value__container {
            border: 2px solid v.$secondary;
        }

        .value__description {
            text-align: left;
        }

        .value + .value {
            margin-top: 0;
        }
    }
}

#benefits__section {
    .benefits__description {
        text-align: center;
        margin: 3.12rem 0;
    }

    ion-icon {
        color: v.$secondary;
    }

    .benefits__box__container {
        gap: 35px;
    }

    .benefit {
        background-color: v.$primary-light;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 14px;
        border-bottom-left-radius: 14px;
        padding: 1.5rem;
        flex-grow: 1;

        & div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .benefit + .benefit {
        margin-top: 1.5rem;
    }

    .icon__container {
        @include MX.icon-container;
    }

    .icon__background {
        @include MX.icon-background;
    }

    @include MX.mediun {
        .benefits__description {
            text-align: left;
        }

        .benefit + .benefit {
            margin-top: 0;
        }
    }
}


#job__section {

    h4 {
        margin-bottom: 0.62rem
    }

    .job__openings__description {
        text-align: center;
        margin: 3.75rem 0;
    }

    .job {
        background-color: v.$primary-light;
        border: 1px solid v.$dark-gray;
        padding: 1.5rem;
        border-radius: 16px;
        flex-grow: 1;

        a {
            background-color: v.$secondary;
            color: v.$primary;
            font-weight: bold;
            padding: 0.75rem 1.25rem;
            border-radius: 82px;
            margin-top: 1.87rem;
        }
    }

    .job + .job {
        margin-top: 1.25rem;
    }

    .location {
        margin-bottom: 1.87rem;
        display: inline-block;

        div {
            background-color: v.$primary;
            padding: 0.37rem  0.62rem;
            margin: 0.3rem 0;
            border: 1px solid v.$dark-gray;
            border-radius: 68px;
        }

        .country {
            display: inline-block;
        }
    }

    .requirements {
        margin-top: 1.87rem;
    }

    .requirement {
        margin-top: 0.87rem;
        display: flex;
        align-items: center;

        p {
            margin-left: 0.4rem;
        }
    }

    ion-icon {
        color: v.$gray;   
    }

    @include MX.mediun {
        .job__openings__description {
            text-align: left;
        }

        .jobs__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        .job + .job {
            margin-top: 0;
        }
    }
}