@use 'variables' as v;
@use 'mixins' as MX;

#faq__section {
    .faq__description {
        text-align: center;
        margin: 3.12rem 0;
    }

    .box {
        background-color: v.$primary;
        border:1px solid #414040;
        border-radius: 10px;
        padding: 1.8rem;
        margin-bottom: 1rem;

        h4 {
            margin-bottom: 1.25rem;
        }

        p {
            margin-top: 1.25rem;
        }
    }

    .load {
        text-align: center;

        button {
            background-color: v.$primary;
            color: v.$white;
            display: inline-block;
            padding: 1.12rem 1.5rem;
            border: 1px solid v.$gray;
            border-radius: 100px;
            margin-top: 1.32rem;
        }
    }

    .more__questions {
        margin-top: 1.8rem;
    }

    .active {
        display: none;
    }

    @include MX.mediun {
        .faq__description {
            text-align: left;
        }

        .questions__container {
            gap: 30px;
        }

        .box {
            margin-bottom: 0;
            flex-grow: 1;
        }
    }
    
}