@use 'variables' as v;
@use 'global';
@use 'mixins' as MX;

%flex-layout {
    display: flex;
    align-items: center;
}


footer {
    background-color: v.$primary-light;
    margin-top: 3.5rem;
    padding-top: 3.12rem;
    text-align: center;

    a {
        color: v.$gray;
    }

    .navigation__links {
        @extend %flex-layout;
        justify-content: center;
        margin: 1.5rem;

        li + li {
            margin-left: 1.5rem;
        }
    }

    .contacts {
        margin: 1.87rem 0;

        .email,
        .phone {
            margin-bottom: 1.5rem;
        }

        ion-icon {
            color: v.$secondary;
            font-size: 1.3rem;
        }
    }

    .media__container {
            background-color: v.$primary;
            padding: 3.12rem 1.5rem 1.87rem 0.81rem;
            margin: 1.87rem 0;
            border: 1px solid #242424;
            border-radius: 12px;
           
        ion-icon {
            background-color: v.$secondary;
            padding: 0.55rem;
            font-size: 1.5rem;
            border-radius: 100px;
        }

        .social__media,
       .copyright {
            margin-bottom: 1.25rem;
       }

       p {
            color: v.$dark-gray;

       }
    }

    @include MX.mediun {
       .media__container,
       .contacts {
        display: flex;
        align-items: center;
       }

       .contacts {
        justify-content: center;
        margin: 1.25rem 0;

        div + div  {
            margin-left: 1.5rem;
        }

        .email,
        .phone {
            margin-top: 1.5rem;
        }


       }

       .media__container {
        justify-content: space-between;

        .social__media,
        .copyright {
         margin-top: 1.25rem;
        }

       }

       
     

    }


}
