@use "sass:math";
@use '../variables' as v;
@use 'mixins' as MX;


.row {
  display: flex;
  flex-wrap: wrap;
}

@include MX.sm {
  @for $i from 1 through v.$grid-columns-hero {
    .col-#{$i}-sm {
      box-sizing: border-box;
      width: math.div($i * 70%, v.$grid-columns-hero);
    }
  }
}

@include MX.mediun {
  @for $i from 1 through v.$grid-columns-hero {
    .col-#{$i}-mediun {
      box-sizing: border-box;
      width: math.div($i * 70%, v.$grid-columns-hero);
    }
  }
}

@include MX.large {
  @for $i from 1 through v.$grid-columns-hero {
    .col-#{$i}-large {
      box-sizing: border-box;
      width: math.div($i * 70%, v.$grid-columns-hero);
    }
  }
}


@include MX.extra_large {
  @for $i from 1 through v.$grid-columns-hero {
    .col-#{$i}-extra_large {
      box-sizing: border-box;
      width: math.div($i * 70%, v.$grid-columns-hero);
    }
  }
}

