@use '../variables' as v ;
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 2rem;
    
    #header {
        background-color: v.$primary-light;
        border: 1px solid v.$dark-gray;
        padding: 0.875rem 1.5rem;
        border-radius: 100px;
    }

    .container {
        @extend %flex-loyout;

       .navigation,  .nav__btns{
        display: none;

        @include MX.mediun {
            display: flex;
        }
       }
    }

    nav ul {
        @extend %flex-loyout;
    }

    a {
        color: v.$white;
    }

    li + li {
        margin-left: 1.62rem
    }

    .nav__btns {
        @extend %flex-loyout;
        .button {
            background-color: v.$secondary;
            color: v.$primary;
            padding: 0.87rem 1.8rem;
            border-radius: 82px;
        }
    }

    .burger {
        background-color: v.$secondary;
        padding: 1rem;
        display: block;
        border-radius: 82px;
        display: flex;
        flex-direction: column;
        align-items: end;

        div {
            background-color: black;
            padding: 0.1rem;
            margin: 0.1rem;
            width: 30px;
            border-radius: 10px;
        }

        div:nth-child(3) {
            width: 15px;
        }

        @include MX.mediun {
            display: none;
        }

    }

    @include MX.large {
        .navigation,  .nav__btns {
            display: flex;
        }
    }



}
