@use '../variables' as v ;
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 2rem;
    
    #header {
        background-color: v.$primary-light;
        border: 1px solid v.$dark-gray;
        padding: 0.875rem 1.5rem;
        border-radius: 100px;
    }

    .container {
        @extend %flex-loyout;

       .navigation,  .nav__btns{
        display: none;

        @include MX.mediun {
            display: flex;
        }
       }
    }

    nav ul {
        @extend %flex-loyout;
    }

    a {
        color: v.$white;
    }

    li + li {
        margin-left: 1.62rem
    }

    .nav__btns {
        @extend %flex-loyout;
        .button {
            background-color: v.$secondary;
            color: v.$primary;
            padding: 0.87rem 1.8rem;
            border-radius: 82px;
        }
    }

    .burger {
        background-color: v.$secondary;
        padding: 1rem;
        display: block;
        border-radius: 82px;
        display: flex;
        flex-direction: column;
        align-items: end;

        div {
            background-color: v.$primary;
            padding: 0.1rem;
            margin: 0.1rem;
            width: 30px;
            border-radius: 10px;
        }

        div:nth-child(3) {
            width: 15px;
        }

    }

    #mobileMenu {
        width: 100vw;
        height: 100vh;
        background-color: v.$primary-light;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translate3d(-100vw, 0, 0);
        transition: transform .6s cubic-bezier(0, .52, 0, 1);
        z-index: 1000;

        li {
            padding: 0.83rem;
            color: v.$primary;
        }

        li + li {
            margin-top: 1.5rem;
            padding-top: 2rem 0;
            margin-left: 0;
        }

        li:hover {
            background-color: v.$secondary;

          a {
            color: v.$primary;
          }
        }

        .mobile__nav__btns {
            margin-top: 1rem;
        }

        .mobile__nav__item, .mobile__nav__btns {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
    }

    #mobileMenu.show {
        transform: translate3d(0vw, 0, 0);
    }

    @include MX.mediun {
        .burger {
            display: none;
        }

        #mobileMenu {
            display: none;
        }
    }

    @include MX.large {
        .navigation,  .nav__btns {
            display: flex;
        }
    }

}
