@use 'variables' as v;
@use 'grid';
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    align-items: center;
}

%open-account-btn {
    background-color: v.$secondary;
    padding: 0.87rem 1.5rem;
}

%ion-icon {
    font-size: 1.5rem;
    text-align: center;
    color: v.$secondary;
    display: inline-block;
}



#hero__section {
    margin: 3rem 0;

    .hero__description {
        text-align: center;
        @include MX.mediun {
            text-align: left;
        }

        p {
            margin-top: 0.5rem;
            margin-bottom: 1.8rem;
        }

        a {
            background-color: v.$secondary;
        }

        & div {
            display: inline-block;
            text-align: center;
            background-color: v.$neutral;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            margin-bottom: 0.75rem;
            border-radius: 61px;
        }

        .button {
            @extend %open-account-btn;
            border-radius: 82px;
        }
    }

 //APPLYING STYLES TO TRANSACTION BOX   

    .hero__transaction__container {
        background: url(../images/Abstract\ Design.svg) no-repeat 150% 30%;
        margin-top: 5rem;

        .monthly__income__box{
            background-color: #262626;
            display: inline-block;
            padding: 0.70rem 0.86rem;
            border-radius: 8.26px;

            p {
                font-size: 13px;
            }


            & > div {
                @extend %flex-loyout
            }
        }
     
        .transaction__box {
            border: 1px solid v.$secondary;
            padding: 1.3rem;
            border-radius: 6.15px;

            h6 {
                margin-bottom: 0.4rem;
            }
        }

        .transactions  {
            margin-bottom: 0.9rem;

            .transaction__detail{
                @extend %flex-loyout;
                justify-content: space-between;
                padding: 0.5rem 0.7rem;
                border: 1px solid v.$gray;
                border-radius: 6.15px;

                & > div {
                    @extend %flex-loyout;
                }
            }

            .transaction__detail:nth-child(2) {
                margin: 0 0.62rem;
            }

            .transaction__detail:nth-child(3) {
                margin: 0 1.2rem;
            }

            .transaction__detail:nth-child(2),
            .transaction__detail:nth-child(3) {
                background-color: 	rgba(48, 45, 45, 0.7);
            }

        }

        .exchange__table {
            border-radius: 6.15px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            & > div {
                border: 1px solid v.$gray;
                padding: 0.86rem;
                
            }

            .coins {
                @extend %flex-loyout;
            }
        }

    .exchange__btn {
            background-color: v.$secondary;
            text-align: center;
            width: 100%;
            padding:  0.5rem 0.9rem;
            margin-top: 0.5rem;
            border-radius: 42.5px;
    }

    ion-icon {
        background-color: v.$secondary;
        color: #262626;
        padding: 0.43rem;
        margin-right: 0.4rem;
        border-radius: 36.5px;
    }

    }

//
    .supported__currencies {
        background-color: #414040;

        & > div {
            @extend %flex-loyout
        }
    }

    ion-icon {
        @extend %ion-icon;
    }

}

#products__section {
    text-align: center;

    .products__description {

        p {
            margin-top: 0.62rem;
            margin-bottom: 1.2rem;
        }

        .product__tab {
            background-color: rgb(59, 58, 58);
            display: inline-block;
            border-radius: 82px;
            padding: 1rem;
            margin-bottom: 3.75rem;

            .tab_button {
                padding: 0.62rem 0.6rem;
                border-radius: 140px;
            }

            .tab_button:first-child {
                background-color: v.$secondary;
            }
           
        }
    }

    ion-icon {
        @extend %ion-icon;
    }

    .product {
        margin-bottom: 1.8rem;

        h3 {
            margin-top: 1.2rem;
        }

        p {
            margin-top: 0.75rem;
            margin-bottom: 1.87rem;
        }

        .icon__container {
            @include MX.icon-container;
        }

        .icon__background {
            @include MX.icon-background;
        }
    }

    .product:nth-child(1),
    .product:nth-child(2) {
        border-bottom: 2px solid v.$secondary;
    }

    @include MX.mediun {

        .products__description {
            display: flex;
            align-items: end;
            justify-content: space-between;
            text-align: left;

            & div:first-child {
                max-width: 55%;
            }

        }
    }
}

#use__cases {
    text-align: center;

    h1 {
        margin: 0.62rem;
        color: v.$secondary;
    }

    
    .use__case_description {
        margin: 3.75rem 0;
    }

    .box__container {
        background: url(../images/Abstract\ Design-back2.svg) no-repeat;
        border-radius: 10px;
        padding: 1.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    
    }

    .box {
        padding: 1.25rem 0.8rem;
        background-color: #262626;
        border: 1px solid  #414040;
        border-radius: 12px;
    }

    .icon__container {
        @include MX.icon-container;
    }

    .icon__background  {
        @include MX.icon-background
    }

    ion-icon {
        @extend %ion-icon;
    }
}

#features__section {

   .banking__feature {
    background-color: #262626;
    border: 2px solid #414040;
    border-radius: 10px;
   }


}

#faq__section {
    .faq__description {
    }

    .box {
        background-color: #262626;
        border:2px solid #414040;
        border-radius: 10px;
        h4 {
        }
    }

    .more__questions {
        display: none;
    }
    
}

#start__section {
    background: url(../images/Abstract\ Design-back2.svg) no-repeat;
    background-color: #262626;
    border-radius: 10px;
    text-align: center;
    @include MX.mediun {
        text-align: left;
    }

    .start__description {
        @include MX.mediun {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                max-width: 75%;
            }
        }

        p {
        }
    
        a {
            background-color: v.$secondary;
        }

    }
}
