@use 'variables' as v;
@use 'grid';
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    
}



#hero__section {

    h1 {
        @include MX.mediun {
            
        }
    }

    ion-icon {
        background-color: v.$secondary;
    }

    .hero__description {
        text-align: center;
        @include MX.mediun {
            text-align: left;
        }

        a {
            background-color: v.$secondary;
        }

        & div {

            text-align: center;
            background-color: v.$neutral;
            @include MX.mediun {

                max-width: 60%;
            }
    
            ion-icon {
            }

        }
    }

    .hero__transaction__container {
        background: url(../images/Abstract\ Design.svg) no-repeat 150% 30%;
       @include MX.mediun {
        
       }
     
        .transaction__box {
            border: 1px solid v.$secondary;
        }

        ion-icon {
        }

        .monthly__income__box{
            background-color: #262626;
        }

        .transactions  {

            .transaction__detail{
                @extend %flex-loyout;

                & > div {
                    @extend %flex-loyout;
                }
            }

        }

        .exchange__table {


            & > div {
                border: 1px solid v.$gray;

            }

            // & > div:nth-child(2){
                
            // }
        }

    .exchange__btn {
            background-color: v.$secondary;
            text-align: center;
            width: 100%;
    }
    }

}

#products__section {
    text-align: center;

    .products__description {

        p {
        }

        .product__tab {
            background-color: rgb(59, 58, 58);
            display: inline-block;
            border-radius: 50px;


            a:first-child {
                background-color: v.$secondary;
                border-radius: 50px;
            }
           
        }
    }

    ion-icon {
        font-size: 1.5rem;
        border-radius: 50px;
    }

    .product {

        .icon__container {
            background-color: v.$secondary;
            display: inline-block;
            border-radius:50px;
        }

        .icon__background {
            background-color: rgb(57, 56, 56);
            display: inline-block;
            border-radius: 50px;
        }
    }

    .product:nth-of-type(even) {
        border-top: 2px solid rgb(62, 62, 20);
        border-bottom: 2px solid  rgb(62, 62, 20);
        
    }

    @include MX.mediun {

        .products__description {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;

            & div:first-child {
                max-width: 70%;
            }

        }

        .product:nth-of-type(even) {
            border-top: none;
            border-bottom: none;
            border-right:  1px solid  rgb(62, 62, 20);
            border-left:  1px solid  rgb(62, 62, 20);
            
        }
    }
}

#use__cases {
    text-align: center;

    .box__container {
        background: url(../images/Abstract\ Design-back2.svg) no-repeat;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
    }

    h1 {
        color: v.$secondary;
    }
}

#features__section {

   .banking__feature {
    background-color: #262626;
    border: 2px solid #414040;
    border-radius: 10px;
   }


}

#faq__section {
    .faq__description {
    }

    .box {
        background-color: #262626;
        border:2px solid #414040;
        border-radius: 10px;
        h4 {
        }
    }

    .more__questions {
        display: none;
    }
    
}

#start__section {
    background: url(../images/Abstract\ Design-back2.svg) no-repeat;
    background-color: #262626;
    border-radius: 10px;
    text-align: center;
    @include MX.mediun {
        text-align: left;
    }

    .start__description {
        @include MX.mediun {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                max-width: 75%;
            }
        }

        p {
        }
    
        a {
            background-color: v.$secondary;
        }

    }
}
