@use 'variables' as v;
@use 'grid';
@use 'mixins' as MX;

%flex-loyout {
    display: flex;
    align-items: center;
}

%open-account-btn {
    background-color: v.$secondary;
    padding: 0.87rem 1.5rem;
    border-radius: 82px;
}

%ion-icon {
    font-size: 1.5rem;
    text-align: center;
    color: v.$secondary;
    display: inline-block;
}


#hero__section {
    margin: 3.12rem 0;

    .hero__description {
        text-align: center;

        p {
            margin-top: 0.5rem;
            margin-bottom: 1.8rem;
        }

        a {
            background-color: v.$secondary;
        }

        & div {
            background-color: v.$dark-gray;
            display: inline-block;
            text-align: center;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            margin-bottom: 0.75rem;
            border-radius: 61px;

            ion-icon {
                font-size: 1rem;
                background-color: v.$secondary;
                border-radius: 50px;
                color: v.$primary-light;
            }

            span {
                color: v.$gray
            }
        }

        .button {
            @extend %open-account-btn;
            border-radius: 82px;
        }
    }

 //APPLYING STYLES TO TRANSACTION BOX   

    .hero__transaction__container {
        background: url(../images/Abstract\ Design.svg) no-repeat 150% 30%;
        margin-top: 5rem;
        align-items: end;

        .monthly__income__box{
            background-color: v.$dark-secondary;
            display: inline-block;
            padding: 0.70rem 0.86rem;
            border-radius: 8.26px;

            p {
                font-size: 13px;
            }


            & > div {
                @extend %flex-loyout
            }
        }
     
        .transaction__box {
            border: 1px solid v.$dark-gray;
            padding: 1.3rem;
            border-radius: 6.15px;

            h6 {
                margin-bottom: 0.4rem;
            }
        }

        .transactions  {
            margin-bottom: 0.9rem;

            .transaction__detail{
                @extend %flex-loyout;
                justify-content: space-between;
                padding: 0.5rem 0.7rem;
                border: 1px solid v.$gray;
                border-radius: 6.15px;

                & > div {
                    @extend %flex-loyout;
                }
            }

            .transaction__detail:nth-child(2) {
                margin: 0 0.62rem;
            }

            .transaction__detail:nth-child(3) {
                margin: 0 1.2rem;
            }

            // .transaction__detail:nth-child(2),
            // .transaction__detail:nth-child(3) {
               
            // }

        }

        .exchange__table {
            border-radius: 6.15px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            & > div {
                border: 1px solid v.$gray;
                padding: 0.86rem;
                
            }

            .coins {
                @extend %flex-loyout;
            }
        }

    .exchange__btn {
            background-color: v.$dark-secondary;
            text-align: center;
            width: 100%;
            padding:  0.5rem 0.9rem;
            margin-top: 0.5rem;
            border-radius: 42.5px;
            color: v.$secondary;
    }

    ion-icon {
        background-color: v.$secondary;
        color: #262626;
        padding: 0.23rem;
        margin-right: 0.4rem;
        border-radius: 36.5px;
    }

    }

    .currencies__description {
       @extend %flex-loyout;
       justify-content: flex-end;

        .supported__currencies {
            background-color: v.$dark-secondary;
            padding: 0.54rem;
            border-radius: 69.36px;
            @extend %flex-loyout;
            margin-top: 1rem;
    
            .currency__container {
                @extend %flex-loyout;
                justify-content: center;
                background-color: v.$primary;
                padding: 0.54rem;
                border-radius: 47.69px;
                margin-left: 0.7rem;
    
                ion-icon {
                    font-size: 0.7rem;
                }
            }
        }
    }

    ion-icon {
        @extend %ion-icon;
    }

    @include MX.mediun {
        .hero {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 100px;
        }

        .hero__description {
            text-align: left;
        }
    }

}

#products__section {
    text-align: center;

    .products__description {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3.2rem;

        h1 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem
        };

        .product__tab {
            background-color: v.$primary-light;
            border: 1px solid v.$dark-gray;
            display: inline-block;
            border-radius: 82px;
            padding: 1rem;
            margin-bottom: 3.75rem;

            .tab_button {
                padding: 0.62rem 0.6rem;
                border-radius: 140px;
                color: v.$white;
            }

            .tab_button:first-child {
                background-color: v.$secondary;
                color: v.$primary;
            }
           
        }
    }

    ion-icon {
        @extend %ion-icon;
    }

    .product {
        margin-bottom: 1.8rem;

        h3 {
            margin-top: 1.2rem;
        }

        p {
            margin-top: 0.75rem;
            margin-bottom: 1.87rem;
        }

        .icon__container {
            @include MX.icon-container;
        }

        .icon__background {
            @include MX.icon-background;
        }
    }

    .product:nth-child(1),
    .product:nth-child(2) {
        border-bottom: 1px solid v.$dark-gray;
    }

    @include MX.mediun {

        .products__description {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;

            & div:first-child {
                max-width: 55%;
            }

        }

        .products__box {
            margin-top: 5rem;
        }

        .product {
            flex: 1;
        }

        .product:nth-child(1),
        .product:nth-child(2) {
            border-bottom: none;
            border-right: 1px solid v.$dark-gray;
            padding-right: 2.5rem;
        }

        .product + .product {
            padding-left: 2.5rem;
        }
    }
}

#use__cases {
    .container {
        text-align: center;
    }

    h1 {
        margin-bottom: 0.62rem;
    }

    
    .use__case_description {
        margin: 3.75rem 0;
    }

    .case h2 {
        margin: 0.62rem 0;
    }

    .box__container {
        background: url(../images/Abstract\ Design-back2.svg) no-repeat;
        background-color: v.$primary-light;
        border: 1px solid #414040;
        border-radius: 10px;
        padding: 1.25rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .box {
        padding: 0;
        padding: 1.25rem 0.8rem;
        background-color: v.$primary;
        border: 1px solid  v.$dark-gray;
        border-radius: 12px;
        display: inline-block;
        text-align: center;

        p {
            color: v.$white;
            margin-top: 0.62rem
        }
    }

    ion-icon {
        @extend %ion-icon;
    }

    .icon__container {
        @include MX.icon-container;
    }

    .icon__background  {
        @include MX.icon-background
    }

    .percentages {
        margin: 3.12rem 0;

        h1 {
            color: v.$secondary;
            font-size: 2rem;
        }

        & > div {
            margin-bottom: 3.12rem;
        }

        .value + .value {
            margin-top: 1.32rem;
        }

         a {
            display: inline-block;
            padding: 0.87rem 1.25rem;
            border:1px solid  #414040;
            border-radius: 82px;
            color: v.$white;
         }
    }

    @include MX.mediun {

        .use__case_description,
        .case__description,
        .percentages {
            text-align: left;
        }

        .cases__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;
        }

        .percentages {

            & > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .value + .value {
                margin-top: 0;
            }
            
            a {
                text-align: left;
            }

        }
    }
}

#features__section {

    .features__description {
        margin: 3.12rem 0;
        text-align: center;

        h2 {
            margin-bottom: 0.62rem;
        }
    }
    .tabs {

         ul {
            @extend %flex-loyout;
            border-radius: 10px;
            padding: 1.25rem 1rem;
            margin-bottom: 1.25rem;
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            // width: 100%;
            text-align: center;

            li {
                background-color: v.$primary-light;
                color: v.$white;
                padding: 0.87rem 1.25rem;
                border-radius: 100px;
                border: 1px solid v.$dark-gray;
               font-size: 0.6rem;
              
            }

            li + li {
                margin-left: 1.25rem;
            }
         }

        ul::-webkit-scrollbar {
            display: none;
        }

    }

    ul, .banking__feature {
        background-color: v.$primary-light;
        border: 1px solid v.$dark-gray;
    }
    
   .banking__feature {
    border-radius: 10px;
    padding: 1.87rem;

    & div {
        @extend %flex-loyout;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }
   }

   ion-icon {
    @extend %ion-icon;
   }

   @include MX.mediun {
    .features__description {
        text-align: left;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(v.$secondary, 1fr);
        gap: 10px;

        ul {
            display: inline-block;
            align-self: self-start;


            li + li {
                margin-left: none;
                margin-top: 1.25rem;
            }
        }

        #banking {
            grid-column: 2/5;
        }

    }
   }

   @include MX.large {
       .features {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
   }
}


#start__section {
    margin-top: 3.5rem;
    background: url(../images/Abstract\ Design-back2.svg) no-repeat;
    background-color: v.$primary-light;
    border-radius: 10px;
    border: 1px solid v.$dark-gray;
    text-align: center;
    @include MX.mediun {
        text-align: left;
    }

    .start__description {
        padding: 1.87rem;

        @include MX.mediun {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                max-width: 75%;
            }
        }

        h2 {
            margin-bottom: 0.87rem;
        }

        p {
            margin-bottom: 1.5rem;
        }
    
        a {
           @extend %open-account-btn;
        }

    }
}

