@use 'variables' as v;

//Mixins for MEDIA QUERIES
$breakpoints: (
    "sm": 480px,
    "md": 820px,
    "lg": 960px,
    "xl": 1200px,
);

@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")){
        @content;
    }
}

@mixin mediun {
    @media (min-width: map-get($breakpoints, "md")){
        @content;
    }
}

@mixin large {
    @media (min-width: map-get($breakpoints, "lg")){
        @content;
    }
}

@mixin extra_large {
    @media (min-width: map-get($breakpoints, "xl")){
        @content;
    }
}


@mixin icon-background {
    background-color: v.$dark-secondary;
    background:
    linear-gradient(
        v.$dark-seconday-light, v.$primary 60%
    );
    padding: 0.8rem;
    border-radius: 50px;
}

@mixin icon-container {
    background:
    linear-gradient(
        v.$dark-seconday-light, v.$primary 50%
    );
    background-color: v.$dark-secondary;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 70px;
}