@use 'variables' as v;
@use 'mixins' as MX;


#protection__section {

    .protection__description {
        margin-bottom: 3.75rem;
        text-align: center;

        h1 {
            margin-bottom: 0.87rem;
        }
    }

    .security__box__background  {

        .security__box__container {
            padding: 3rem 0;
            // transform: translateY(40px);
            gap: 30px;
        }

        .security {
            background-color: v.$primary-light;
            border: 1px solid v.$dark-gray;
            border-radius: 20px;
            flex-grow: 1;
            padding: 1.5rem;

            ion-icon {
                color: v.$secondary;
            }

            .icon__background {
                @include MX.icon-background;
            }

            .icon__container {
                @include MX.icon-container;
            }

        }
    }

    @include MX.mediun {

        .protection__description {
            text-align: left;
        }

        .security__box__background  {
            background: url(/images/Background\ Image.svg);
            background-color: v.$primary-light;
            border-radius: 20px;
            margin-bottom: 1rem;
            padding: 0  6.25rem;
        }

        .security {
            padding: 3.12rem;
        }

        #faq__section {
            margin-top: 3.75rem;
        }
    }
}